#ignore node dependencies folder
node_modules

#ignore graphite storage volume (local development)
graphite

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.lock.hcl